.control-group {
  display: inline-block;
  column-gap: 1rem;
  flex-wrap: wrap;
  min-width: 25rem;
  flex: 1;
}

.counter {
  margin: 0;
  color: darkgray;
}

.invalid {
  padding: 0;
  margin: 0;
  color: rgb(201, 47, 47);
}
