* {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

